.hex-letter-spacing{
  letter-spacing: 3px;
}
.hide{
  display: none;
}
#khawi{
  width: 600px;
  height: 600px;
  border: black solid 1px;
}
.transparent-background{
  background-image:
    -moz-linear-gradient(45deg, #dbdbdb 25%, transparent 25%), 
    -moz-linear-gradient(-45deg, #dbdbdb 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, #dbdbdb 75%),
    -moz-linear-gradient(-45deg, transparent 75%, #dbdbdb 75%);
  background-image:
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #dbdbdb), color-stop(.25, transparent)), 
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #dbdbdb), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #dbdbdb)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #dbdbdb));

  -moz-background-size:20px 20px;
  background-size:20px 20px;
  -webkit-background-size:20px 20px; /* override value for shitty webkit */

  background-position:0 0, 50px 0, 50px -50px, 0px 50px;
}
div.color-picker-js{
  border: black solid 1px;
  background-color: #4285f4;
  position: absolute;
  top: 50px;
  left: 100px;
}
div.close-block{
  padding: 8px 0;
}
button.close-but{
  position: relative;
  left: 90%;
  padding: 0 5px;
}
div.main-block{
  background-color: white;
  margin: 0 10px 10px 10px;
  padding: 10px;
}
div.hue-block{
  width: 362px;
  margin: 0 13px 20px 13px;
  position: relative;
}
canvas.hue-canvas,
canvas.sl-canvas,
canvas.opacity-canvas
{
  border: black solid 1px;
  border-radius: 5px;
}
div.slider-button{
  border-radius: 50%;
  background-color: #7295a6;
  border: black solid 1px;
  position: absolute;
}
div.slider-button:hover{
  cursor: pointer;
}
div.hue-slider-button{
  width: 26px;
  height: 26px;
  top: -3px;
  left: -13px;
}
div.sl-block{
  display: inline-block;
  margin-left: 20px;
  width: 202px;
  height: 202px;
  position: relative;
  
  overflow: hidden;
}
div.sl-cursor{
  width: 10px;
  height: 10px;
  border: white solid 1px;
  border-radius: 2px;
  position: absolute;
  top: 195px;
  left: -5px;
}
div.sl-cursor:hover{
  cursor: pointer;
}
div.opacity-block{
  display: inline-block;
  width: 32px;
  height: 202px;
  margin-left: 70px;
  position: relative;
}
div.opacity-slider-button{
  width: 26px;
  height: 26px;
  top: 187px;
  left: -3px;
}
input.color-code{
  width: 230px;
  font-size: 1em;
  margin-top: 25px;
  margin-left: 20px;
  padding: .2em;
  display: block;
}
div.selected-color{
  width: 50px;
  height: 50px;
  border: black solid 1px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  left: 340px;
  top: 350px;
}
div.conversion-buttons{
  margin: 15px 0 0 20px;
}
div.conversion-buttons button{
  font-size: 1em;
  padding: .2em .4em;
  border-radius: 5px;
}
div.conversion-buttons button::-moz-focus-inner {
  border: 0;
}
div.conversion-buttons button:focus {
  outline: none;
}
div.conversion-buttons button.selected-color-code{
  background-color: #4285f4;
  color: white;
  border: hsl(243, 94.5%, 67.5%) solid 1px;
}
div.conversion-buttons button:not(:last-child){
  margin-right: 1em;
}
div.conversion-buttons button:hover{
  cursor: pointer;
}
div.cancel-select{
  margin: 2.5em 0 .5em 0;
}
div.cancel-select button{
  font-size: 1.1em;
  padding: .1em .4em;
}
div.cancel-select button.cancel-but{
  margin: 0 10px 0 210px;
}
