button
{
  padding: .4em .2em;
  display: inline-block;
  color: #555555;
}
button:hover
{
  cursor: pointer;
}
.fa-plus
{
  font-size: .8em;
}
.not-selectable-text
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.not-dragable
{
  -webkit-user-drag: none;
  user-drag: none;
}
.show
{
  display: flex;
}
.hide
{
  display: none;
}
.draged-element
{
  position: absolute;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
}
.ellipsis-text
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/****************************************************************************/

div.main-window
{
  width: 1200px;
  height: 580px;
  margin: 1em auto;
}
div.tab-selectors
{
  display: flex;
}
div.tab-selector
{
  width: 150px;
  padding: .5em 0;
  text-align: center;
  font-size: 1em;
  border-bottom: cadetblue solid 1px;
  color: #555555;
  background-color: lightgray;
  border-top   : inherit solid 1px;
  border-right : inherit solid 1px;
  border-left  : inherit solid 1px;
}
div.tab-selector:hover
{
  cursor: pointer;
}
div.selected-tab
{
  border-top   : cadetblue solid 1px;
  border-right : cadetblue solid 1px;
  border-left  : cadetblue solid 1px;
  border-bottom: none;
  color: #3c91d1;
  background-color: lightblue;
  transition: background-color 1s;
}

/****************************************************************************/

div.edit-blocks
{
  border-right : cadetblue solid 1px;
  border-left  : cadetblue solid 1px;
  border-bottom: cadetblue solid 1px;
  height: 100%;
  width: 100%;
}
div.edit-block
{
  height: 100%;
  width: 100%;
  background-color: lightslategray;
}

/****************************************************************************/

div.Map-block
{
  flex-direction: column;
  position: relative;
}
div.map-list
{
  flex-direction: column;
}
div.line-block
{   
  border-bottom: black solid 1px;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
}
button.create-new-map
{
  color: forestgreen;
  margin-left: 1em;
}
div.created-map
{
  justify-content: space-around;
}
div.created-map canvas.map-small
{
  border: black solid 1px;
}
div.created-map label.map-name
{
  text-align: center;
  width: 50%;
  padding: .4em 0 .6em 0;
  font-size: 1.4em;
  border-right: black solid 1px;
  font-family: sans-serif;
}
div.created-map label.map-size
{
  text-align: center;
  width: 15%;
  font-size: 1.4em;
  border-right: black solid 1px;
  padding: .4em 0 .6em 0;
}
div.created-map button.open-map-but
{
  width: 80px;
}
div.created-map button.delete-map-but
{
  width: 80px;
}

/****************************************************************************/

div.map-info
{
  position: absolute;
  top: 50px;
  left: 300px;
  background-color: lightgray;
  color: darkslategray;
  width: 550px;
  height: 400px;
  flex-direction: column;
  border: black solid 1px;
}
div.map-info div:not(.warning-message)
{
  margin-top: 4em;
}
div.map-info label[for]
{
  margin-left: 3em;
}
div.map-info input
{
  width: 60px;
  text-align: center;
}
div.map-info div.create-cancel
{
  display: flex;
  justify-content: center;
}
div.map-info button
{
  width: 120px;
}
div.map-info button.create-map
{
  margin-right: 4em;
}
div.warning-message
{
  margin-top: 2em;
  color: red;
  font-size: 1em;
  text-align: center;
  font-family: sans-serif;
}
/****************************************************************************/

div.map-edit
{
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
div.map-block
{
  display: flex;
  flex-direction: column;
  width: 1500px;
  height: 100%;
}
div.canvas-edit
{
  width: 900px;
  height: 600px;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
}
div.canvas-block
{
  width: 700px;
  height: 470px;
  overflow: scroll;
  border: black solid 1px;
}
div.map-toolbox
{
  border: black solid 1px;
  height: 400px;
  align-self: center;
  padding: 1em;
  margin-right: 4em;
}
button.map-tool
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: dimgray;
  color: whitesmoke;
  width: 40px;
  height: 40px;
  margin-bottom: .5em;
  border: white solid 1px;
}
button.save-map-but
{
  font-size: 1.5em;
}
div.save-map-confirm
{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 800px;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background-color: lightgray;
  border: gray solid 1px;
}
div.save-map-confirm label
{
  margin: 0 .8em;
}
div.save-map-confirm input
{
  margin: 0 .8em;
  padding: .2em;
}
div.save-map-confirm button
{
  margin: 0 .8em;
  width: 120px;
}
canvas.map-canvas
{
  background-color: white;
  margin-right: 2em;
  margin-bottom: 2em;
}

/****************************************************************************/

button.return-map-list
{
  max-width: 110px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  padding-bottom: .6em; 
}
span.return-arrow
{
  font-weight: bold;
  font-size: 2em;
}
div.map-sprites
{
  min-width: 120px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: black solid 1px;
  overflow-y: scroll;
}
div.sprites-container
{
}
div.sprite-block
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  min-height: 120px;
  margin: 1em 0;
  border-bottom: black solid 1px;
}
div.map-sprite
{
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px
}
div.sprite-block:hover
{
  background-color: darkblue;
  color: white;
}
div.sprite-block label
{
  margin-top: 1em;
  width: 100px;
  text-align: center;
}
button.add-map-sprite
{
  margin: 1em 0;
  min-height: 40px;
  min-width: 110px;
}
